body{
    color: rgb(249, 250, 252);
    background-color: rgba(46, 49, 3, 0.705);
}

.header{
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    padding: 20px 10px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo{
    position: relative;
    font-size: 25px;
    color: rgb(16, 28, 37);
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
     display: inline-block;
     font-size: 25px;
     color: aliceblue;
     text-decoration: none;
     font-size: 500;
     margin-left: 35px;
     transition: .3s;

}
.navbar a:hover{
    color: aqua;
}

img{
    border-radius: 400px;
    border-style: double;
    border-style: ridge;
    border-style: groove;
    border-color: aliceblue;
    margin-bottom: 200px;
    border-width: 10px;
}
.Acceuil{
    position: relative;
    justify-content: space-around;
    height: 100vh;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;

}
.Acceuil-contenu{
    max-width: 600px;
    font-size: 20px;

}
.contentu h3{
    font-size: 40px;
    font-weight: 700;
    margin: -3px 0;
}
.contentu h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;

} 
.contentu p{
    font-size: 20px;

}
.membre-Accueil{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid aqua;
    border-radius: 50%;
    font-size: 20px;
    color: aqua;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}
.membre-Accueil a:hover{
    background: aqua;
    color: black;
    box-shadow: 0 0 20px aqua;

}
.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: aqua;
    border-radius: 40px;
    font-size: 16px;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    margin-top: 100px;

}
.btn-box:hover{
    box-shadow: 0 0 spx cyan,
      0 0 25px cyan, 0 0 50px cyan,
      0 0 100px cyan, 0 0 200px cyan

}

.profil{
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.srew;
  

}
.profil-contenu h2{
    font-size: 60px;

}
.profil-contenu h2 span{
    color: rgb(177, 167, 32);
}
.profil-contenu h4{
    font-size: 29px;
    font-weight: 600;
    color: aliceblue;
    line-height: 1.7;
    margin: 15px 0 30px;

}
.profil-contenu p{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4res;
}
.profil .types{
    display: flex;
    justify-content: space-around;

}
.profil .types .types-1{
    border: inset;
    border-width: 50%;
     background-color: rgb(147, 158, 158);
      border-color: rgb(151, 151, 192);
     border-style: outset;
     border-style: groove;
}
.profil .types .types-2{
    border: inset;
    border-width: 50%;
    background-color: rgb(147, 158, 158);
     border-color: rgb(151, 151, 192);
     border-style: outset;
     border-style: groove;
}
.competences{
    padding: 90px;
    text-align: center;
    
}
.competences h1{
    font-size: 60px;
}
.competences h1 span{
     color: rgb(177, 167, 32);
}
.contenu{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4res;
    border: inset ;
     border-width: 10px;
     background-color: rgb(147, 158, 158);
     border-color: rgb(151, 151, 192);
     border-style: outset;
     border-style: groove;
     
}

.projets{
    padding: 90px;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.srew;
}
.projets h1{
      font-size: 60px;
}
.projets h1 span{
      color: rgb(177, 167, 32);
}
.projets p{
    color: aliceblue;
    font-size: 30px;
    line-height: 1.4;
    margin-bottom: 4res;
}
.projets .types{
     border: inset;
     border-width: 10px;
     background-color: rgba(131, 170, 170, 0.904);
      border-color: rgb(151, 151, 192);
     border-style: outset;
     border-style: groove;
}

.contacte{
    margin-top: 300px;
}

.contacte-text h2{
    font-size: 60px;
    line-height: 1;
    text-align: center;
}
.contacte-text h2 span{
    color: rgb(177, 167, 32);

}
.contacte-text h4{
    margin: 15px 0;
    color: rgb(220, 231, 238);
    font-size: 30px;
    font-weight: 600;

}
.contacte-text p{
    color: rgb(238, 241, 245);
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 2rem;
} 
.contacte-text .parties{
  text-align: center;
     
}
.contacte .ensemble{
     display: inline-block;
     position: absolute;
     right: 400px;
    border-bottom: 600px;
    
  
}

.contacte-liste{
   
    font-size: 25px;

}
.contacte-liste i{
    display: inline-block;
    color: aqua;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;

}
.contacte-liste li:hover{
    transform: scale(1.01), translateY(-5px);
    color: cyan;
}
.contacte-icons{
     font-size: 40px;
     color: var(--main-color);
     border: 2px solid var(--main-color);
     
     line-height: 42px;
     border-radius: 50%;
     margin: 0 10px;
     transition: 0.3s ease-in-out;
     margin-bottom: -50px;
     margin-left: 200px;
}
.contacte-icons a:hover{
    transform: scale(1.2)translateY(-10px);
    background-color: var(--main-color);
    color: rgb(20, 109, 145);
    box-shadow: 0 0 25px var(--main-color);
}
.contacte-icons ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

 .contact form .btn{
    margin-top: 2rem;
 }
 .contact form .btn:hover{
    color: blue;
 }


@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1s;
    }

}
@keyframes slideRight {
    0%{
        transform: translatey(-100px);
        opacity: 0;
    }
    100%{
        transform: translatey(0px);
        opacity: 1s;
    }
}



    
